#####################################
# Date-Code-File and Directories
#####################################
**/201*
**/202*
**/203*
**/OldStuff/**/*
.~*


#####################################
# IDE and other folder
#####################################
.idea
.phpuni*


#####################################
# Backend
#####################################
# typo3/composer-resources
/vendor/

